name: Section7 - Reusable Deploy
on:
    workflow_call:
        inputs:
          artifact-name:
            description: The name of the deployable artifact files
            required: false
            default: dist
            type: string
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get artifacts
              uses: actions/download-artifact@v5
              with:
                name: ${{ inputs.artifact-name }}
            - name: list files
              run: ls
            - name: Output information
              run: echo "Deploying & uploading..."